@import "../../components/common/FooterProveCommon.scss";
@import "../../components/common/FooterFunctionCommon.scss";
@import "../../components/common/FooterSecurityCommon.scss";
.footerCommon {
  background: $color-quarternary;
  margin-top: -10px;
  padding: 60px 130px 10px;
  &_information {
    display: flex;
  }
}
@media (max-width: 480px) {
  .footerCommon {
    padding: 20px 20px;
    &_information {
      display: block;
      margin-right: 50px;
    }
  }
}
