.benefitDataHome {
  margin-left: 110px;
  &_laptop {
    margin-top: 40px;
    margin-left: 40px;
    img {
      position: absolute;
    }
  }
  &_recommendation {
    background: $color-tertiary-four;
    display: flex;
    position: relative;
    width: 304px;
    height: 82px;
    top: 30px;
    right: 110px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    &_imageAmanda {
      img {
        position: relative;
      }
    }
    &_text {
      margin: 0 25px;
      p:nth-child(1) {
        font-size: 16px;
        font-weight: 500;
        line-height: 10px;
        color: $color-tertiary-two;
      }
      p:nth-child(2) {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: $color-tertiary-three;
      }
    }
    &_chat {
      img {
        position: relative;
      }
    }
  }
  &_gallery {
    position: relative;
    top: 180px;
    right: 20px;
  }
  &_transferSuccessfull {
    background: $color-tertiary-four;
    display: flex;
    position: relative;
    width: 272px;
    height: 38px;
    top: 340px;
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      margin-right: 15px;
    }
    p {
      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.03em;
      color: $color-tertiary-two;
      margin-left: 25px;
    }
  }
  &_income {
    display: flex;
    position: relative;
    width: 138px;
    height: 70px;
    bottom: 95px;
    left: 435px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    &_text {
      p:nth-child(1) {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        color: rgba(169, 167, 182, 1);
        padding-left: 10px;
      }
      p:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        color: rgba(0, 0, 0, 1);
        padding-left: 10px;
      }
    }
    img {
      position: relative;
      margin-top: 40px;
      margin-left: 25px;
    }
  }
}
@media (max-width: 480px) {
  .benefitDataHome {
    margin-left: 40px;
    &_laptop {
      margin-left: 0px;
      img {
        width: 240px;
        margin-top: -100px;
      }
    }

    &_gallery {
      position: relative;
      top: 80px;
      right: 60px;
    }
    &_transferSuccessfull {
      top: 140px;
      right: 80px;
    }
    &_income {
      bottom: 80px;
      left: 180px;
    }
  }
}
