$color-primary: rgba(186, 241, 231, 0.781);
$color-primary-two: #fff5f5;
$color-primary-three: #fffcfc;
$color-secondary: #f1f5f1;
$color-tertiary: #f9f8fe;
$color-tertiary-two: rgba(25, 26, 21, 1);
$color-tertiary-three: rgba(166, 166, 166, 1);
$color-tertiary-four: rgba(255, 255, 255, 1);
$color-quarternary: #161c28;
$color-quinary: #54bd95;
$color-senary: rgba(248, 248, 250, 1);
