.footerProveCommon {
  h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 30px;
    color: $color-quinary;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: $color-tertiary-three;
  }
  input {
    background: none;
    position: absolute;
    width: 366px;
    height: 56px;
    padding: 0 20px;
    margin-top: 20px;
    border: 2px solid $color-tertiary-three;
    border-radius: 70px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: $color-tertiary-three;
  }
  button {
    background: $color-quinary;
    border: none;
    width: 46px;
    height: 46px;
    padding: 10px;
    border-radius: 50%;
    margin: 25px 0 20px 358px;
  }
}
