.planContactCommon {
  h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 73px;
    text-align: center;
    color: $color-tertiary-two;
  }
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: $color-tertiary-three;
  }
  &_button {
    background: $color-tertiary-four;
    width: 340px;
    height: 70px;
    margin: 40px 540px 60px;
    border-radius: 10px;
    button:nth-child(1) {
      background: none;
      border: none;
      margin: 20px 40px 20px 25px;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: $color-tertiary-two;
    }
    button:nth-child(2) {
      background: $color-quinary;
      width: 160px;
      height: 56px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: $color-tertiary-four;
    }
  }
}
