@import "../../components/home/BenefitListHome.scss";
@import "../../components/home/BenefitDataHome.scss";

.benefitHome {
  background: linear-gradient(
    0.44turn,
    $color-primary-two,
    $color-primary-three,
    $color-primary
  );
  display: flex;
  padding: 0 0 100px 130px;
}
@media (max-width: 480px) {
  .benefitHome {
    display: block;
    padding: 0 0 40px 60px;
  }
}
