@import "../../components/home/characteristicInformationHome.scss";
@import "../../components/home/CharacteristicDataHome.scss";

.characteristicHome {
  background: linear-gradient(
    0.22turn,
    $color-primary-two,
    $color-primary-three,
    #ffffff
  );
  padding: 60px 130px;
}
@media (max-width: 480px) {
  .characteristicHome {
    padding: 60px 50px;
  }
}
