@import "../../components/home/SupportInformationHome.scss";
@import "../../components/home/SupportCharacteristicHome.scss";
.supportHome {
  background: $color-tertiary;
  display: flex;
  padding: 0 130px;
}
