@import "../../components/home/SupportInformationHome.scss";
@import "../../components/home/SupportCharacteristicHome.scss";
.supportHome {
  background: $color-tertiary;
  display: flex;
  padding: 0 130px;
}
@media (max-width: 480px) {
  .supportHome {
    display: block;
    padding: 0 60px;
  }
}
